@{
    ViewData["Title"] = "About Us";
}

<p>
    <h2>Sharpest Computers Ltd</h2>
    <h3>IT Cloud & Automation Specialists</h3>
<p>
    Sharpest Computers is a UK based consultancy company specializing, established in 2018 by founded Craig Sharpe.
    <br /><br />
    Our mission is to provide bespoke cloud & automation solutions for Public, Private and Hybrid cloud solutions.  Contact us to find out how we can help you succeed in your cloud journey.
</p>

<div style="width:100%; align-content:center;">
    <img src="~/images/vmware.png" style="width:25%;" />
    <img src="~/images/microsoft-azure.png" style="width:25%;" />
    <img src="~/images/microfocus logo.jpg" style="width:25%;" />
</div>

<br /><br />
    Company Number: 11718892
<br />
    VAT Registration: 312 2266 48
<br />
</p>
