
<h2>Contact Us..</h2>

<div style="width:100%; padding-left:20%; padding-right:20%">
    <h3>Sharpest Computers Ltd</h3><br />
    Please feel free to contact us using the form below, we will get back to you within 24 hours.<br /><br />

    <form id="contactUs" target="_self">
        <div class="form-group">
            <label for="InputName">Name</label>
            <input type="text" class="form-control" id="InputName" aria-describedby="Name" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="InputTel">Telephone Number</label>
            <input type="text" class="form-control" id="InputTel" aria-describedby="Name" placeholder="Enter your telephone number">
        </div>
        <div class="form-group">
            <label for="QueryText">How can we help?</label>
            <textarea class="form-control" id="QueryText" rows="5" required></textarea>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="roboCheck">
            <label class="form-check-label" for="Check">I'm not a Robot</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<br /><br />
<div style="width:50%; padding-left:20%; float:left;">
    <b>Registered Address</b><br />
    <address>
        71-75 Shelton Street<br />
        London<br />
        WC2H 9JQ<br />
    </address>
</div>
<div style="width:50%; padding-right:20%; float:right;">
    <b>Yorkshire Office</b><br />
    <address>
        2 Chevinedge Crescent<br />
        Halifax, West Yorkshire<br />
        HX3 9EQ<br />
    </address>
</div>
<br />
<div style="width:100%; padding-left:20%">
    <address>
        <strong>Enquiries:</strong>   <a href="mailto:enquiries@sharpestcomputers.com">Enquiries@SharpestComputers.com</a><br />
        <br />
        <b>Director:</b><br />
        Craig Sharpe<br />
        <abbr title="Phone">P:</abbr>
        07707553690
    </address>
</div>